# Exercise: Array DataStructure

1. Let us say your expense for every month are listed below,
	1. January -  2200
 	2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

Create a list to store these monthly expenses and using that find out,

    1. In Feb, how many dollars you spent extra compare to January?
    2. Find out your total expense in first quarter (first three months) of the year.
    3. Find out if you spent exactly 2000 dollars in any month
    4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
    5. You returned an item that you bought in a month of April and
    got a refund of 200$. Make a correction to your monthly expense list
    based on this

In [1]:
exp = [2200, 2350, 2600, 2130, 2190]

In [3]:
# 1 Exp in feb compared to jan

print('Extra dollars spent in feb is', exp[1] - exp[0])

Extra dollars spent in feb is 150

In [4]:
# 2 exp in first quarter

first_quarter_expense = exp[0]+exp[1]+exp[2]
print("The total expense in first quarter is :",first_quarter_expense)

The total expense in first quarter is : 7150

In [6]:
# 3 find 2000 dollars

for i in exp:
    if i == 2000:
        print(exp[i])
    else:
        break

In [8]:
# 4. add expense for june 1980

exp.append(1980)
print("The expense of june", exp[5])

The expense of june 1980

In [9]:
exp[3]= exp[3]-200
print('The expense in April', exp[3])

The expense in April 1930

In [10]:
exp

[2200, 2350, 2600, 1930, 2190, 1980, 1980]

2. You have a list of your favourite marvel super heros.
```
heros=['spider man','thor','hulk','iron man','captain america']
```

Using this find out,

    1. Length of the list
    2. Add 'black panther' at the end of this list
    3. You realize that you need to add 'black panther' after 'hulk',
       so remove it from the list first and then add it after 'hulk'
    4. Now you don't like thor and hulk because they get angry easily :)
       So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
       Do that with one line of code.
    5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [11]:
heros=['spider man','thor','hulk','iron man','captain america']

In [13]:
#1 
print('Total Heroes :',len(heros))

Total Heroes : 5

In [21]:
#2
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [22]:
heros.remove('black panther')
heros.insert(3,'black panther')

In [23]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [24]:
heros[1:3] = ['doctor strange']
print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [27]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

3. Create a list of all odd numbers between 1 and a max number.
Max number is something you need to take from a user using input() function

In [28]:
max_number = int(input('Enter a maximum number : '))
odd_number = []
for i in range(1, max_number):
    if i%2 != 0:
        odd_number.append(i)
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [33]:
heights = [1,1,4,2,1,3]
expected_height = sorted(heights)
print(expected_height)

[1, 1, 1, 2, 3, 4]

In [46]:
heights = [1,1,4,2,1,3]
expected_height = sorted(heights)

count = 0
for i in range(len(heights)):
    if heights[i] != expected_height[i]:
        count += 1

print(count)

3

In [47]:
def heightChecker(heights):
    expected_height = sorted(heights)

    return sum (1 for i in range(len(heights)) if heights[i] != expected_height[i])

In [48]:
heights = [5,1,2,3,4]
heightChecker(heights)

5

In [59]:
def thirdMax(nums):
    nums = list(set(nums))
    nums.sort(reverse=True)
    return nums[2] if len(nums) >=3 else nums[0]

In [63]:
nums = [4,5]
thirdMax(nums)

5

In [86]:
a = [0,1,5,0,12,9,0]

In [66]:
zero_array = []
rem_array = []
for i in range(len(a)):
    if a[i] == 0:
        zero_array.append(a[i])
    else:
        rem_array.append(a[i])
print(rem_array + zero_array)

[1, 5, 12, 9, 0, 0, 0]

In [84]:
def moveZeroes(nums):
    l = 0
    for i in range(len(nums)):
        if nums[i]!=0:
            nums[l],nums[i] = nums[i],nums[l]
            l += 1
    return nums

In [87]:
moveZeroes(a)

[1, 5, 12, 9, 0, 0, 0]

In [88]:
nums = [0,1,0,3,12]
moveZeroes(nums)

[1, 3, 12, 0, 0]

In [7]:
# Declare an integer list with 6 elements (initialized to None)
int_array = [None] * 6
length = 0

# Add 3 elements to the list
for i in range(3):
    int_array[length] = i
    length += 1

In [8]:
int_array

[0, 1, 2, None, None, None]

In [9]:
# Print the elements of the list with their indices
for i in range(len(int_array)):
    print(f"Index {i} contains {int_array[i]}")

Index 0 contains 0
Index 1 contains 1
Index 2 contains 2
Index 3 contains None
Index 4 contains None
Index 5 contains None

In [10]:
int_array

[0, 1, 2, None, None, None]

In [11]:
int_array.append(10)

In [12]:
int_array.insert(0, 20)  # Inserts 20 at the beginning, shifting elements automatically
int_array

[20, 0, 1, 2, None, None, None, 10]

In [13]:
int_array.insert(2, 30)  # Inserts 30 at index 2 and shifts elements automatically
int_array

[20, 0, 30, 1, 2, None, None, None, 10]

In [14]:
def duplicate_zeros(arr):
    l = len(arr)
    i = 0
    while i<l:
        if arr[i]==0:
            arr.insert(i+1,0)
            arr.pop()
            i+=1
        i+=1

In [18]:
arr = [1,0,2,3,0,4,5,0]
duplicate_zeros(arr)
print(arr)

[1, 0, 0, 2, 3, 0, 0, 4]

In [17]:
arr = [1,2,3]
duplicate_zeros(arr)
print(arr)

[1, 2, 3]